.cards-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.selftext {
  word-wrap: break-word;
  margin-bottom: 10px;
}

.url a {
  color: blue;
  text-decoration: none;
  word-wrap: break-word;
}

.score {
  font-size: 16px;
  color: #666;
}

@media (max-width: 768px) {
  .cards-container {
    padding: 20px;
  }

  .card {
    padding: 15px;
  }

  .selftext {
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
  }

  .score {
    font-size: 14px;
  }
  .url a {
    color: blue;
    text-decoration: none;
    word-wrap: break-word;
  }
}
